{# Entête de la page / Inclusion #}
{% include 'header.html.twig' %}
<body class="bg-light">

    {# Barre de Navigation #}
    {% include 'navigation.html.twig' %}

    {# Contenu de la page #}
    <div id="content" class="container mt-5 mb-5">
        <div class="container d-flex justify-content-between">
            <button type="button" class="btn btn-danger mb-2" id='previous-page-button'>Retour</button>
            <a href="/panel/utilisateurs" class="btn btn-info mb-2">Voir les Utilisateurs</a>
            <a href="/panel/annonces" class="btn btn-info mb-2">Voir les Annonces</a>
        </div>
        <div class="text-center mb-4">
            <h4>Administration des annonces</h4>
        </div>
        {% block dashboard_contacts %}
            <table class="table mt-3 mb-3 text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Date</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.id }}</td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phone }}</td>
                            <td>{{ contact.dateContact|date('d/m/Y') }}</td>
                            {% if contact.pending == 1 %}
                                <td>Résolu</td>
                            {% else %}
                                <td>Non Résolu</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>

    {# Pied de page #}
    {% include 'footer.html.twig' %}
</body>
</html>