{# Entête de la page / Inclusion #}
{% include 'header.html.twig' %}
<body class="bg-light">

    {# Barre de Navigation #}
    {% include 'navigation.html.twig' %}

    {# Contenu de la page #}
    <div id="content" class="container mt-5 mb-5">
        <div class="container d-flex justify-content-between">
            <button type="button" class="btn btn-danger mb-2" id='previous-page-button'>Retour</button>
            <a href="/panel/creeruneannonce" class="btn btn-success mb-2">Créer une annonce</a>
            <a href="/panel/utilisateurs" class="btn btn-info mb-2">Voir les Utilisateurs</a>
        </div>
        <div class="text-center mb-4">
            <h4>Administration des annonces</h4>
        </div>
        {% block dashboard_announces %}
            <table class="table mt-3 mb-3 text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Surface</th>
                        <th>Prix</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for announce in announces %}
                        <tr>
                            <td>{{ announce.id }}</td>
                            <td>{{ announce.title }}</td>
                            <td>{{ announce.description }}</td>
                            <td>{{ announce.type }}</td>
                            <td>{{ announce.surface }}</td>
                            <td>{{ announce.price }}</td>
                            <td><img src="{{ asset('images/announce_img/') }}{{announce.image}}" class="rounded dashboard-announce-img"></td>
                            <td class="d-flex flex-row">
                                <a href="/annonce/{{announce.id}}" class="btn btn-success rounded-pill ml-1">Voir</a>
                                <a href="/panel/editeruneannonce/{{announce.id}}" class="btn btn-primary rounded-pill ml-1">Éditer</a>
                                <a href="/panel/supprimeruneannonce/{{announce.id}}" class="btn btn-danger rounded-pill ml-1">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>

    {# Pied de page #}
    {% include 'footer.html.twig' %}
</body>
</html>