{# Entête de la page / Inclusion #}
{% include 'header.html.twig' %}
<body class="bg-light">

    {# Barre de Navigation #}
    {% include 'navigation.html.twig' %}

    {# Contenu de la page #}
   <div id="content" class="container mt-4">
        <div>
        <button type="button" class="btn btn-danger mb-2" id='previous-page-button'>Retour</button>
        </div>
        <hr>
        {% block announces %}
        <div class="announce">
            <h2 class="d-flex align-center">
            <span>{{ sale.title }}</span>
            <span>
                <button type="button" class="favori" onclick="toggleFavorite(this)" data-annonce-id="{{sale.id}}">
                    <span class="coeur-vide taille-coeur">🤍</span>
                    <span class="coeur-plein  taille-coeur">❤️</span>
                </button>
            </span>
            </h2>
            <img src="../images/announce_img/{{ sale.image }}" class="img-details rounded mt-3">
            <p class="text-secondary ml-2 mt-2">Création : {{ creation }}</p>
            <hr>
            <div class="mb-5">
                <h5>{{ sale.type }} - {{ sale.surface }}m²</h5>
                <span class="text-danger"><strong>PRIX :</strong> {{ sale.price }}€</span>
                <p><strong>Localisation :</strong> {{ sale.type }}</p>
                <hr>
                <h4>Détails :</h4>
                <p class="ml-3">{{ sale.description }}</p>
            </div>
        </div>
        {% endblock %}

        {% if is_granted('ROLE_ADMIN') %}
            {% block recontact %}
                {{ form_start(recontact_form) }}
                    <div class="form-row d-flex justify-content-center">
                        <div class="col-md-5 mb-3">
                            {{ form_row(recontact_form.name) }}
                            {{ form_row(recontact_form.phone) }}
                            {{ form_row(recontact_form.email) }}
                            <button type="submit" class="btn btn-primary">Demander à être contacter</button>
                        </div>
                    </div>
                {{ form_end(recontact_form) }}
            {% endblock %}
        {% endif %}
    </div>

    {# Pied de page #}
    {% include 'footer.html.twig' %}
</body>
</html>